@charset "UTF-8";
/* CSS Document */
/* Carlos B Martini Style Sheet by Robert B Bush */

/********************************************************************************************************/
/*										0 Browser Resets												*/
/********************************************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

/********************************************************************************************************/
/*										1 Global Constants												*/
/********************************************************************************************************/

body {font-family: Helvetica, Arial, sans-serif; font-size:16px; line-height: 1; background:#FFFFFF;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
a{color:#FFFFFF; text-decoration:none;}
img{display:block;}
h1{font-family:'overpassregular', Arial, sans-serif; font-size:87px;}
h2{font-family:'overpassregular', Arial, sans-serif; font-size:82px;}

/********************************************************************************************************/
/*										2 Page Classes												*/
/********************************************************************************************************/	

/** GENERAL **/
.center{display:block; margin-left: auto; margin-right: auto;}
.clear {clear:both; line-height:0px; font-size:0px;}
.spacer{line-height:1px; font-size:1px; height:10px;}
/** COLORS **/
.black{color:#000000;}
.white{color:#FFFFFF;}
.blue{color:#22b7d9;}
.orange{color:#efa41f;}
.purple{color:#df4898;}
.grey{color:#383838;}
.left{float:left;}
/** FONTS **/
.bold{font-weight:bold;}
.italic{font-style:italic;}
.fontr10{font-family:'overpassregular', Arial, sans-serif; font-size:10px;}
.font14{font-family:'overpassbold', Arial, sans-serif; font-size:14px;}
.fontr14{font-family:'overpassregular', Arial, sans-serif; font-size:14px;}
.fontr16{font-family:'overpassregular', Arial, sans-serif; font-size:16px;}
.font16{font-family:'overpassbold', Arial, sans-serif; font-size:16px;}
.fontr18{font-family:'overpassregular', Arial, sans-serif; font-size:18px;}
.font18{font-family:'overpassbold', Arial, sans-serif; font-size:18px;}
.font25{font-family:'overpassbold', Arial, sans-serif; font-size:25px;}
.font26{font-family:'overpassbold', Arial, sans-serif; font-size:24px;}
.font38{font-family:'overpassbold', Arial, sans-serif; font-size:38px;}
.fontb32{font-family:'overpassbold', Arial, sans-serif; font-size:32px;}
.fontb35{font-family:'overpassbold', Arial, sans-serif; font-size:35px;}
.font30{font-family:'overpassregular', Arial, sans-serif; font-size:30px;}
.font49{font-family:'overpassregular', Arial, sans-serif; font-size:49px;}

/********************************************************************************************************/
/*										3 Page IDs	    											*/
/********************************************************************************************************/

/** HOME SECTION **/
#homeWrapper{margin:0 auto; max-width:100%; max-height:716px; background-color:#bad734;}
#homeContent{margin:0 auto; max-width:1024px; max-height:716px; position:relative;}
.backgroundh {background:url(../images/behind_dinoleft.gif); background-repeat:repeat-x;height: 716px; position: absolute;top: 0; width: 100%; z-index: 0;}
#homeBackground{ max-width:1024px; max-height:716px;}
#homeSpacer img{height:100%;}
#homeText{padding:90px 0 0 115px; position:absolute; z-index:20; max-width:900px;}
#homeText h1{z-index:20;}
#homeImage{position:relative; z-index:1;}	
#homeImage img{width:100%; height:100%;}
#homeText2 h1{padding:0 0 10px 0;}
#homeText3 .showLink{padding:15px 0 0 0;}
#mobileLinks{display:none;}
#quote_right{line-height:1.3;}
#quote_left{position:absolute; margin-left:-20px;line-height:1.3;}
#quote_left1{position:absolute; margin-left:-13px;line-height:1.3;}

/** MENU SECTION **/
#menu{background-color:#383838; height:50px; width:100%; z-index:9999 !important;}
#menuContent{margin:0 auto; max-width:1024px;}
#menuName{padding:9px 0 0 40px;}
#linkDivider{padding:10px 25px 10px 0;}
#linkDivider img{background-color:#a1a1a1; width:2px; height:30px;}
.icons{float:left; padding:10px 0;}
.icons:hover{zoom:1; opacity:.8; filter: alpha(opacity=80);    -webkit-transition: all  ease-out 0.3s; -moz-transition: all  ease-out 0.3s;
-o-transition: all  ease-out 0.3s; transition: all  ease-out 0.3s; -ms-transition: all  ease-out 0.3s;}
#facebookIcon{padding:10px 25px;}
.linkz{padding:18px 22px; float:left;}
#LinzNav{float:left;}
#menuWork a:hover{color:#22b7d9 !important;-webkit-transition: all  ease-out 0.3s; -moz-transition: all  ease-out 0.3s;
-o-transition: all  ease-out 0.3s; transition: all  ease-out 0.3s; -ms-transition: all  ease-out 0.3s;}
#menuShows a:hover{color:#efa41f !important;-webkit-transition: all  ease-out 0.3s; -moz-transition: all  ease-out 0.3s;
-o-transition: all  ease-out 0.3s; transition: all  ease-out 0.3s; -ms-transition: all  ease-out 0.3s;}
#menuBlog a:hover{color:#339966;-webkit-transition: all  ease-out 0.3s; -moz-transition: all  ease-out 0.3s;
-o-transition: all  ease-out 0.3s; transition: all  ease-out 0.3s; -ms-transition: all  ease-out 0.3s;}
#menuContact a:hover{color:#df4898 !important;-webkit-transition: all  ease-out 0.3s; -moz-transition: all  ease-out 0.3s;
-o-transition: all  ease-out 0.3s; transition: all  ease-out 0.3s; -ms-transition: all  ease-out 0.3s;}
#menuLeft{float:left;}
#menuRight{float:right; padding-right:20px; width:625px;}
.menuLinx, #homeText3 a{cursor:pointer;}
#workListMobile{display:none;}
#mobileNav{display:none; visibility:hidden;}

/** TO TOP **/
#toTop {width:25px;height:25px;background:url(../images/totop_arrow.png) no-repeat center;text-align:center;position:fixed;right:20px;bottom:30px;cursor:pointer;
display:none;text-indent:-999999px;z-index:900;}
#toTop:hover {background:url(../images/totop_arrow_hover.png) no-repeat center;}

/** WORK SECTION **/
#workWrapper{margin:0 auto; max-width:100%; max-height:770px; background-color:#FFFFFF; }
#workWrapper1{margin:0 auto; max-width:100%; max-height:275px; position:relative;}
.backgroundw {background:url(../images/behind_work.gif); background-repeat:repeat-x;height: 100%; right:0; position: absolute;
top: 0; width: 50%; z-index: 0;}
#workWrapper2{margin:0 auto; max-width:100%; max-height:549px; background-color:#22b7d9;}
#workTopContent{background-color:#FFFFFF; margin:0 auto; max-width:1024px; max-height:275px;}
#workBottomContent{background-color:#22b7d9; margin:0 auto; max-width:1024px; max-height:549px;}
#workHeadText{position:absolute; z-index:20; }
#workHeader{position:relative; z-index:2}
#workHeader img{width:100%; height:100%;}
#workHeadText h2{padding:96px 0 0 91px}
#workGallary{height:549px; background-color:#22b7d9;}
#workGallaryContainer{padding:0 0 0 0;}
#workGallaryLeft{float:left; width:355px;}
#workGallaryRight{float:left; max-width:669px; overflow:auto; height:330px; overflow-style:marquee-block;}
#workNavCenter{width:210px;}
.arrow{float:left;} 
#gallarySpacer{height:75px;}
#workNavLeft{float:left; width:21%; height:10px;}
#workNavCenter{float:left; width:210px;}
#workNavRight{float:left; width:16%; height:10px;}
#workList ul li{padding-bottom:15px;}
#workList ul li a{cursor:pointer; float:left; text-decoration:none; color:#FFFFFF;}
#workList ul li a:hover{color:#383838 !important;}
.fancybox-buttons{float:left; padding:4px 25px 25px 5px;}
.fancybox-buttons img{-moz-border-radius:5px;border-radius:5px; -webkit-border-radius::5px; border:1px #FFFFFF solid;}
.fancybox-buttons img:hover{-webkit-box-shadow: 0px 0px 2px 4px rgba(140, 140, 140, .75);-moz-box-shadow: 0px 0px 2px 4px rgba(140, 140, 140, .75); box-shadow: 0px 0px 2px 4px rgba(140, 140, 140, .75);-webkit-transition: all  ease 0.2s; -moz-transition: all  ease 0.2s; -o-transition: all  ease 0.2s; transition: all  ease 0.2s; -ms-transition: all  ease 0.2s;}
.galleryitem{padding:0 25px 25px 0; float:left;}
.fancybox-custom .fancybox-skin {box-shadow: 0 0 50px #222222;}

/** SHOWS SECTION **/
#showsWrapper{margin:0 auto; max-width:100%; background-color:#FFFFFF;}
#showsWrapper1{margin:0 auto; max-width:100%; max-height:275px; background-color:#FFFFFF;}
#showsWrapper2{margin:0 auto; max-width:100%; min-height:360px; background-color:#efa41f;}
#showsTopContent{background-color:#FFFFFF; margin:0 auto; max-width:1024px; max-height:275px;}
#showsBottomContent{background-color:#efa41f; margin:0 auto; max-width:1024px; min-height:480px;}
#showsHeadText{position:absolute; z-index:20; }
#showsHeader{position:relative; z-index:2}
#showsHeader img{width:100%; height:100%;}
#showsHeadText h2{padding:96px 0 0 91px;}
#showsHeader1{position:absolute; z-index:10;}
#showsHeader1 img{width:100%; height:100%;}

#showsMainLeft{float:left; width:56.6%; padding-bottom:20px; }


#showsMainLeft p{line-height:1.4;}
#showsLeftFirst{float:left; width:15%;}
#showsLeftSecond{float:left; width:79%;}
#showsHeading{padding:45px 0 25px 0;}
.twitter-timeline{height:300px !important;}
#showsMainRightContainer{border-left:1px solid #FFFFFF; overflow:hidden;}

#showsMainRContainer{float:left; width:75%;}
#showsMainRContainerRight{float:left; width:20%;}
#showsQuote p{padding:25px 0 0 16px;}
#showsText p{text-align:justify;}

#showsLeftThird{float:left; width:6%;}
#showsMainRContainerLeft{float:left; width:9%;}


#showsMainRight{float:left; width:43%; padding:55px 0 25px 0; overflow:hidden;}


.showsInfoHeading{font-family:Helvetica, Arial, sans-serif; padding:10px 0 3px 0;}
#showsHeadingRight{padding:5px 0 10px 0;}
#showsTwitterRight{padding:20px 0 10px 0; min-height:300px;}
#showsInfoRight{line-height:1.3;}


/** CONTACT SECTION **/
#contactWrapper{margin:0 auto; max-width:100%; max-height:770px; background-color:#FFFFFF;}
#contactWrapper1{margin:0 auto; max-width:100%; max-height:275px; position:relative;}

.backgroundc {background:url(../images/behind_contact.gif); background-repeat:repeat-x;height: 100%; right:0; position: absolute;top: 0; width: 50%; z-index: 0;}

#contactWrapper2{margin:0 auto; max-width:100%; max-height:549px; background-color:#df4898;}
#contactTopContent{background-color:#FFFFFF; margin:0 auto; max-width:1024px; max-height:275px;}
#contactBottomContent{background-color:#df4898; margin:0 auto; max-width:1024px; max-height:600px; overflow:hidden;}
#contactHeadText{position:absolute; z-index:20; }
#contactHeader{position:relative; z-index:2}
#contactHeader img{width:100%; height:100%;}
#contactHeadText h2{padding:96px 0 0 91px}
#copyright{position:absolute; bottom:3px; left:12%;}


/** left **/
#contactMainLeft{float:left; width:57%; padding-top:8.8%;}
#contactTopLeftFirst{float:left; width:15.3%;}
#contactTopLeftFirst img{width:100%; height:100%;}
#contactTopLeftSecond{float:left; width:58.7%;}
#contactTopLeftSecond table{width:100%; margin:0 0 10px 0;}
#contactTopLeftSecond table td{text-align:left;}
input{border-style:none; outline:none; width:100%; height:38px; font-size:18px; font-weight:bold;}
#contactTopLeftThird{float:left; width:26%; max-height:155px;}
#contactTopLeftThird img{width:100%; height:100%;}
#contactBottomLeft{max-width:590px; max-height:192px; position:relative;}
#contactBottomLeft img{width:100%; height:100%;}
.labeltxt{padding:0 0 13px 0;}
textarea{border-style:none; outline: none; width:100%; height:225px; font-size:18px; font-weight:bold;}

/** right **/
#contactMainRight{float:left; width:43%;}
#contactBottomRightLeft{float:left; width:78%; padding-top:20%;}
#contactBottomRightLeft table{width:100%;}
#contactBottomRightRight{float:left; width:22%;}
#contactBottomRightRight img{width:100%; height:100%;}
#mobileBird{display:none;}
#submitButton{width:135px; padding:30px 0 0 0;}
#submitbtn{width:135px; height:30px; background-color:#383838; cursor:pointer;}

/** IMPORTED FONTS **/
@font-face {
    font-family: 'overpassregular';
    src: url('../fonts/Overpass_Regular-webfont.eot');
    src: url('../fonts/Overpass_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Overpass_Regular-webfont.woff') format('woff'),
         url('../fonts/Overpass_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Overpass_Regular-webfont.svg#overpassregular') format('svg');
    font-weight: normal;font-style: normal;}

@font-face {
    font-family: 'overpassbold';
    src: url('../fonts/Overpass_Bold-webfont.eot');
    src: url('../fonts/Overpass_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Overpass_Bold-webfont.woff') format('woff'),
         url('../fonts/Overpass_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Overpass_Bold-webfont.svg#overpassbold') format('svg');
    font-weight: normal;font-style: normal;}